.homepage {
    background-image: url('/images/how-to-follow-your-diet-plans.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: black;
}


