.homepage {
    background-image: url('/images/how-to-follow-your-diet-plans.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: black;
}
.unauthorizeimg {
    background-image: url('/public/images/what-is-a-401-error.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: black;
}



